/* minimum reset */
*{
    margin: 0;
    padding: 0;
}

#container{
    box-sizing: border-box;
    margin: auto;
    margin-top: 60px;
    padding: 15px;
    width: 500px;
}


/* text fields */
div{
    margin: 0 0 70px 0;
}